{% extends "base.html" %}
{% block title %}What is an Author? (text generation with GPT2){% endblock %}
{% block head %}
  {{ super() }}
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
{% endblock %}
{% block content %}
 <img src="{{ url_for('static', filename='chatbot.svg') }}" class="icon" />
 <h1>What is an Author? (text generation with GPT2)</h1>
 <form action="{{ url_for('result') }}" method="post" enctype="multipart/form-data">
  <textarea id="text" name="text" required placeholder="Give me a prompt to write from..." rows="5" cols="33"></textarea>
  <p>How many words do you want me to write?
    <input type="number" name="n">
  </p>
  <input type="submit" value="Generate">
</form>
{% endblock %}
